<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.starnet.cqj.taobaoke">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:name=".view.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/main_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.activity.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.ForgetPwdActivity"/>
        <activity android:name=".view.activity.RegisterActivity"/>
        <activity android:name=".view.activity.BindPhoneActivity"/>
        <activity android:name=".view.activity.UserAgreementActivity"/>
        <activity android:name=".view.activity.HelpCenterActivity">
        </activity>
        <activity android:name=".view.activity.QuestionDetailActivity">
        </activity>
        <activity android:name=".view.activity.MessageListActivity">
        </activity>
        <activity android:name=".view.activity.ProductListActivity">
        </activity>
        <activity android:name=".view.activity.MessageDetailActivity">
        </activity>
        <activity android:name=".view.activity.HotDetailActivity">
        </activity>
        <activity
            android:name=".view.activity.IntegralDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.AddAddressActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.AddressListActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.IntegralStoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.SearchActivity"/>

        <activity
            android:name=".view.activity.ProductDetailActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a01bad6f43e481555000186" >
        </meta-data>
    </application>


</manifest>